#landing-section1 {
  /* border: thin solid var(--primary); */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#landing-section1 > h1 {
  font-size: 2rem;
  text-align: center;
  color: var(--primary);
}

#landing-section1 > p {
  font-size: 1.3rem;
  color: lightslategrey;
  text-align: center;
}

.illustration {
  height: 50%;
  width: 100%;
}
