@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

main {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

body {
  background-color: whitesmoke;
}

main > * {
  width: 85%;
}

:root {
  --primary: #0052cc;
}
